@import "tailwindcss";

@theme{
    --color-base-100: oklch(0.9642 0 0);
    --color-base-200: oklch(0.9219 0 0);
    --color-base-content: oklch(20% 0.01 270);
    --color-surface: oklch(1 0 0);
    --color-surface-content: oklch(25% 0.01 270);
}

@layer base {
  [data-theme="dark"] {
    --color-base-100: oklch(0.209 0 0);
    --color-base-200: oklch(0.199 0 0);
    --color-base-content: oklch(90% 0.02 240);
    --color-surface: oklch(0.2393 0 0);
    --color-surface-content: oklch(88% 0.02 240);

  }
  
  [data-theme="light"] {
    --color-base-100: oklch(0.9642 0 0);
    --color-base-200: oklch(0.9219 0 0);
    --color-base-content: oklch(20% 0.01 270);
    --color-surface: oklch(1 0 0);
    --color-surface-content: oklch(25% 0.01 270);
  }

}

@font-face {
  font-family: "Monaspace Neon";
  src: url("https://github.com/githubnext/monaspace/raw/main/fonts/webfonts/MonaspaceNeon-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  @apply font-sans antialiased subpixel-antialiased;
  font-family: "Monaspace Neon", monospace;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  
  color-scheme: light dark;
}